@use "variables";

.navbar{
    // display: none;
    border: 1px solid blue;
    width: 400px;
    .modalNavbarItems{
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    .modalNavbarLinks{
        text-decoration: none;
        color: variables.$Very-dark-blue;
        display: block;
        height: 112px;
    }
}